@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

meta {
  height: 100%;
}
#welcome-section {
  text-align: center;
  margin-bottom: 40em;
  height: 100%;
  min-height: 100px;
  margin-top: 30em;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
